body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagem {
    margin: 1rem;
    text-align: center;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem p {
    margin-top: 0.5rem;
    font-style: italic;
}